<h2 class="text-center mt-5">Common Questions</h2>

<div class="row justify-content-center mt-4">
  <div class="col-12 col-md-9">
    <dl class="row">
      <dt class="col-sm-3">Can I export and delete my data?</dt>
      <dd class="col-sm-9">Yes! Within the app there is a data management page which allows your to easily delete all your data, and export it in a JSON format.</dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-3">How much does it cost?</dt>
      <dd class="col-sm-9">I made this for fun, so it's free. Please consider <%= link_to 'buying me a coffee', 'https://www.buymeacoffee.com/MikeRogers0', target: "_blank", rel: "noopener noreferrer" %> to show your appreciation :)</dd>
    </dl>
    <dl class="row">
      <dt class="col-sm-3">Who made this?</dt>
      <dd class="col-sm-9"><%= link_to 'Mike Rogers', 'https://mikerogers.io/' %>, a Web Developer based in London, UK.</dd>
    </dl>
  </div>
</div>
